.document {
  &__list {
    padding: 0;
    list-style: none;
  }

  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 16px;
    border: 1px solid #D4D4D4;
  }

  &__item-content-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 12px 0 0;

    img {
      flex-shrink: 0;
      max-width: 36px;
      margin: 0 12px 0 0;
    }

    h2 {
      display: inline-block;
      display: -webkit-box;
      max-height: 20px;
      margin: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.4285;
      color: #414141;
      white-space: normal;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.6666;
      color: #6B6B6B;
    }

    time {
      margin: 0 0 0 3px;
    }
  }

  &__item-content-wrapper {

  }

  &__item-button-box {
    margin: 0 0 0 auto;

    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .document {
    &__item-button-box {
      width: 100%;

      button {
        margin: 20px 0 0;
      }
    }
  }
}
